.oo-container{
  color: white;
  background-color: black;
  width: calc(100% - 20px * 2.0);
  max-width: 1280px;
  margin: auto auto;
  margin-bottom: 50px;
}

.oo-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  width: 100%;
}

/* oo div */

.oo-div{
  display: inline-block;
  width: calc(100%);
  margin-bottom: 20px;
}


@media screen and (min-width: 767px) {
  .oo-div{
    width: calc((100%) / 2);
  }
}

@media screen and (min-width: 1024px) {
  .oo-div{
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 1279px) {
  .oo-div{
    width: calc(100% / 4);
  }
}

/* oo wrap */

.oo-wrap{
  /* margin: 14.5px; */
  width: calc(100%);
  height: calc(100%);
}

@media screen and (min-width: 767px) {
  .oo-wrap{
    margin: 14.5px;
    width: calc(100% - 14.5px * 2);
    height: calc(100% - 14.5px * 2);
  }
  .oo-div:nth-child(2n - 1) .oo-wrap{
    /* outline: white solid 1px; */
    margin-left: 0px;
    width: calc(100% - 14.5px * 1);
  }
  .oo-div:nth-child(2n + 2) .oo-wrap{
    /* outline: red solid 1px; */
    margin-right: 0px;
    width: calc(100% - 14.5px * 1);
  }
}

@media screen and (min-width: 1023px) {
  .oo-wrap{
    margin: 14.5px;
    width: calc(100% - 14.5px * 2);
    height: calc(100% - 14.5px * 2);
  }
  .oo-div:nth-child(2n - 1) .oo-wrap{
    /* outline: white solid 1px; */
    margin-left: 14.5px;
    margin-right: 14.5px;
    width: calc(100% - 14.5px * 2);
  }
  .oo-div:nth-child(2n + 2) .oo-wrap{
    /* outline: red solid 1px; */
    margin-left: 14.5px;
    margin-right: 14.5px;
    width: calc(100% - 14.5px * 2);
  }

  .oo-div:nth-child(3n - 2) .oo-wrap{
    /* outline: white solid 1px; */
    margin-left: 0px;
    width: calc(100% - 14.5px * 1);
  }
  .oo-div:nth-child(3n + 3) .oo-wrap{
    /* outline: red solid 1px; */
    margin-right: 0px;
    width: calc(100% - 14.5px * 1);
  }
}


@media screen and (min-width: 1279px) {
  .oo-wrap{
    margin: 14.5px;
    width: calc(100% - 14.5px * 2);
    height: calc(100% - 14.5px * 2);
  }
  .oo-div:nth-child(2n - 1) .oo-wrap{
    margin-left: 14.5px;
    margin-right: 14.5px;
    width: calc(100% - 14.5px * 2);
  }
  .oo-div:nth-child(2n + 2) .oo-wrap{
    margin-left: 14.5px;
    margin-right: 14.5px;
    width: calc(100% - 14.5px * 2);
  }

  .oo-div:nth-child(3n - 2) .oo-wrap{
    margin-left: 14.5px;
    margin-right: 14.5px;
    width: calc(100% - 14.5px * 2);
  }
  .oo-div:nth-child(3n + 3) .oo-wrap{
    margin-left: 14.5px;
    margin-right: 14.5px;
    width: calc(100% - 14.5px * 2);
  }

  .oo-div:nth-child(4n - 3) .oo-wrap{
    margin-left: 0px;
    width: calc(100% - 14.5px * 1);
  }
  .oo-div:nth-child(4n + 4) .oo-wrap{
    margin-right: 0px;
    width: calc(100% - 14.5px * 1);
  }
}

.oo-content{
  font-size: 17px;
  height: 100%;
  border: white solid 1px;
  box-sizing: border-box;
  border-radius: 5px;
}

.oo-content-title{
  padding: 15px;
  font-size: 21px;
  font-weight: bold;
  border-bottom: white solid 1px;
}
.oo-content-body{
  padding: 15px;
}
.oo-content-image{
  width: 100%;
  min-height: 200px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.oo-div:hover .oo-content-title{
  background-image: linear-gradient(90deg, #c0392b 0%, #f39c12 20%,
  #f1c40f 40%,#2ecc71 60%, #3498db 80%, #8e44ad 100%);
  border-radius: 5px 5px 0px 0px;
}